---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About Me">
    <main>
        <section class="content">
            <h1>About me</h1>
            <p>I’m a Javascript developer. My goal is to make software that people enjoy using, and have fun in the process</p>
        </section>
    </main>
</Layout>