---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hardware, Software and everything I use">
    <section class="intro">
        <h1>
            Hardware, Software and everything I use. 
        </h1>
        
        <p>
            This is all the gear and software I use for my work and personal projects.
            To make it easier to share, I have created a page specifically for this. It's intended to be a living documents as things change.
        </p>
    </section>
    <section class="uses-list flex">
        <aside>
            <nav>
                <ul>
                    <li><a href="#coding">#coding</a></li>
                    <li><a href="#gaming">#gaming</a></li>
                    <li><a href="#music">#music</a></li>
                    <li><a href="#stationary">#stationary</a></li>
                    <li><a href="#peripherals">#peripherals</a></li>
                </ul>
            </nav>
        </aside>
        <main>
            <section id="coding">
                <h2>Coding</h2>
                <article>
                    Varmilo Keyboard
                </article>
                <article>
                    Logitech MX Master 3 Mouse
                </article>
            </section>
            <section id="gaming">
                <h2>Gaming</h2>
                <article>
                    Playstation 5
                </article>
                <article>
                    steelseries arctic 7p headset
                </article>
            </section>
            <section id="software">
                <h2>software</h2>
                <article>
                    VScode (with Moonlight 2 Italic theme)
                </article>
                <article>
                    Iterm 2
                </article>
            </section>
        </main>
    </section>
</Layout>