<footer>
    <nav>
        <ul>
            <li><a href="https://github.com/machr"></a>Github</li>
            <li><a href="https://www.linkedin.com/in/powellm/">LinkedIn</a></li>
        </ul>
    </nav>

    <p>Built with Astro (Insert logo)</p>
    <p>No Tracking</p>
    <p>Last build:</p>
</footer>

<style>
    footer {
        border-top: 2px solid blue;
    }

    nav ul li {
        display: inline-block;
    }
</style>