---
const languages = ['Hola', 'Guten Tag', 'Salve', 'olá', 'nǐn hǎo', 'Hej', 'Hello', 'Salut'];
const language = `${languages[Math.floor(Math.random() * languages.length)]}! `
---

<header class="py-12">
    <nav class=" flex justify-between">
        <ul class="flex gap-4">
          <li class="text-lg text-red"><a class="text-lg text-red" href="/">Home</a></li>
          <li class="text-lg text-red"><a href="/about/">About</a></li>
          <li class="text-lg text-red"><a href="/notes/">Notes</a></li>
          <li class="text-lg text-red"><a href="/uses/">Uses</a></li>
        </ul>
        <a class="text-4xl">M</a>
        <ul class="flex gap-4">
          <li class="text-lg text-red"><a href="/">Home</a></li>
          <li class="text-lg text-red"><a href="/about/">About</a></li>
          <li class="text-lg text-red"><a href="/notes/">Notes</a></li>
          <!-- <li class="text-lg text-red"><a href="/now/">Now</a></li> -->
          <li class="text-lg text-red"><a href="/uses/">Uses</a></li>
        </ul>
      </nav>
      <section class="title text-center my-12 scroll-py-16">
        <h1 class="text-4xl font-extrabold leading-relaxed text-black/80"><span class="text-rose-500/75">{language}</span>I'm Mark Christiansen, a developer based in Australia </h1>
      </section>
</header>