---
const languages = ['Hola', 'Guten Tag', 'Salve', 'olá', 'nǐn hǎo', 'Hej', 'Hello', 'Salut'];
const language = `${languages[Math.floor(Math.random() * languages.length)]}! `
---

<header class="py-12">
      <section class="title text-center my-12 scroll-py-16">
        <h1 class="text-4xl font-extrabold leading-relaxed text-black/90"><span class="text-rose-500/75">{language}</span>I'm Mark Christiansen, a developer based in Australia </h1>
      </section>
</header>