<nav>
  <ul>
    <li class="nav__listitem"><a href="/">Home</a></li>
    <li class="nav__listitem"><a href="/about/">About</a></li>
    <li class="nav__listitem"><a href="/notes/">Notes</a></li>
    <!-- <li class="nav__listitem"><a href="/now/">Now</a></li> -->
    <li class="nav__listitem"><a href="/uses/">Uses</a></li>
  </ul>
</nav>

<style>
  li {
    display: inline-block;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
  }
</style>
