<nav class=" flex justify-between">
    <ul class="flex gap-4 text-black/70 text-lg">
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/notes/">Notes</a></li>
      <li><a href="/uses/">Uses</a></li>
    </ul>
</nav>