<nav>
    <ul>
        <li class="nav__listitem"><a href="/">Home</a></li>
        <li  class="nav__listitem"><a href="/about/">About</a></li>
        <li  class="nav__listitem"><a href="/uses/">Uses</a></li>
    </ul>
</nav>

<style>
    li {
        display: inline-block;
        padding: 1rem 1.5rem;

        /* Remove this */
        outline: 1px solid red;
    }

</style>