<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/uses/">Uses</a></li>
    </ul>
</nav>

<style scoped>
    li {
        display: inline-block;
        padding: 1rem 1.5rem;

        /* Remove this */
        outline: 1px solid red;
    }

</style>