<nav class=" flex justify-between">
    <ul class="flex font-sans gap-4 font-bold text-stone-700 text-lg">
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/notes/">Notes</a></li>
      <li><a href="/uses/">Uses</a></li>
    </ul>
</nav>