<nav class="flex justify-between my-20">
  <ul class="flex font-sans gap-4 text-stone-700">
    <li><a class="border-2 rounded p-1" href="/">Home</a></li>
    <li><a class="border-2 rounded p-1" href="/about/">About</a></li>
    <li><a class="border-2 rounded p-1" href="/notes/">Notes</a></li>
    <li><a class="border-2 rounded p-1" href="/uses/">Uses</a></li>
  </ul>
</nav>
