<nav class="flex justify-between my-20">
  <ul class="flex font-sans text-stone-700 divide-x-2 space-x-3">
    <li><a class="p-3" href="/">Home</a></li>
    <li><a class="p-3" href="/about/">About</a></li>
    <li><a class="p-3" href="/notes/">Notes</a></li>
    <li><a class="p-3" href="/uses/">Uses</a></li>
  </ul>
</nav>
